@model Blog.EntryViewModel
@{ Layout = "~/views/Layout.cshtml"; }

<div class="post" style="min-height: 250px">
    <h2><a href="@Model.Url" rel="bookmark">@Model.Title</a></h2>
    <div class="postmetadata">
@if(Model.HasDate) {
        @Model.Date
}
@if(Model.HasDate && Model.HasGitHubUrl) {
        <text> &bull; </text>
}
@if(!String.IsNullOrEmpty(Model.GitHubUrl)) {
        <a href="@Model.GitHubUrl" target="_blank">View on GitHub</a>
}
    </div>
    <div class="entry">@Html.Raw(Model.BodyHtml)</div>
</div>

<div id="disqus_thread"></div>

@Html.Partial("~/views/PrevNext.cshtml", Model.PrevNext)
